.advantages {
    max-width: 1214px;
    margin: 0 auto;
    position: relative;
    z-index: 5;

    &__wrapper {
        margin: 80px auto 0;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

    }
    &__item {
        margin: 20px;
        padding: 72px 68px 54px;
        max-width: 347px;
        background: center / contain no-repeat url('../assets/img/main/advantages/Group_31.png');
    }
    &__logo {
        margin: 0 auto;
        width: 163px;
        height: 163px;
    }
    .advantages__ball {
        width: 100%;
    }
    &__text {
        font-family: 'Sora', sans-serif;
        font-size: 14px;
        font-weight: 300;
        color: #000;
        line-height: normal;
        text-align: center;
    }
}