.main {
    background-color: #154D3E;
    position: relative;
    top: -350px;
    padding: 120px 0 40px;

    &__text, &__text-link {
        color: #8DB13E;
        text-align: center;
        font-family: 'Lexend', sans-serif;
        font-size: 32px;
        font-weight: 300;
        line-height: 110%;
    }
    &__text {
        max-width: 1216px;
        margin: 125px auto 0;
        text-transform: uppercase;
        position: relative;
        z-index: 5;
    }
    &__text-link {
        text-decoration: none;
    }
}